/* styles.module.css */
.perspective-1000 {
  perspective: 1000px;
  background-color: transparent;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
  background-color: transparent;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
  background-color: transparent;
}

.relative {
  transform: translateZ(0);
  will-change: transform;
}
